* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bosh {
    display: flex;

}

.yozuv {
    margin-top: 232px;
    margin-left: 193px;
}

.h1 {
    margin-left: 193px;
}

.Email {
    margin-top: 24px;
    margin-left: 193px;
}

.inpuuut {
    width: 350px;
    height: 50px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-top: 11px;
    margin-left: 193px;
    padding-left: 20px;
}

.div {
    margin-left: 193px;
    margin-top: 28px;
}

.span {
    margin-left: 119px;
    color: #2C5282;
}

.button {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin-top: 27px;
    margin-left: 193px;
    background-color: #04C45C;
    color: white;
    border: none;
}

.buttom {
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin-top: 27px;
    margin-left: 193px;
    background-color: #2D3748;
    color: white;
    border: none;
}

.yozv {
    margin-left: 232px;
    margin-top: 162px;
}

.spn {
    color: #2B6CB0;
}